#gridleft {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    background-color: rgba(179,182,255);
    padding: 3px;
    float: left;
    width: 45%;
    
  }


  #gridright {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    background-color: rgba(179,182,255);
    padding: 3px;
    float: right;
    width: 45%;
   
  }

.game-status{
  font-size: 26px;
}
 