#gridleft {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    background-color: rgba(179,182,255);
    padding: 3px;
    float: left;
    width: 45%;
    
  }
  .battlegridleft {
    background-color: rgba(77,77,77);
    border: 1px solid rgba(179,182,255);
    padding: 40%;
    font-size: 30px;
    text-align: center;
  }

  #gridright {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    background-color: rgba(179,182,255);
    padding: 3px;
    float: right;
    width: 45%;
   
  }
  .battlegridright {
    background-color: rgba(77,77,77);
    border: 1px solid rgba(179,182,255);
    padding: 40%;
    font-size: 30px;
    text-align: center;
  }