#gridright {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    background-color: rgba(179,182,255);
    padding: 3px;
    float: left;
    width: 45%;
    margin-left: 12.5%;
    
  }
  

#Greeting ::before{
    
        content: "Greetings";
      
}  
.session h4{
    
color: black; 
margin-bottom: 0%;
padding-bottom: 0%;
    
}
  #right {
      float:right; 
      width:15%;
      margin-top: 10%;
  }

#left {
    float:left;
    width:15%
}

  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(0, 59, 186);
    color: white;
    
}


.button {
    background-color: #008CBA; 
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    font-size: 16px;
}

