
.container {
  width: 80%; 
  display: block;
  overflow: auto;
  margin: auto;
  padding: 10%; 
  padding-top: 2%;
  background-color: rgb(77, 77, 77);
  border: 3px solid black;
  height: 90%;
  padding-bottom: 5%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}






.logo {
  background-image: url("../images/Logo Battleship.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 5%;
  height: 150px;
  width: 100%;
  background-position: top;
  position: relative; 
}


.water{
  background-color: rgba(77,77,77);
  border: 1px solid rgba(179,182,255);
  padding: 40%;
}

.water:hover {
  background-color: rgba(44, 226, 105, 0.842);
}

.miss{
  background-image: url("../images/mis.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(77,77,77);
  border: 1px solid rgba(179,182,255);
  background-position: top;
  padding: 40%;
}

.liveship{
  background-color: rgb(194, 18, 18);
  border: 3px solid rgba(4,51,255);
  padding: 40%;
}


.hit{
  border: 1px solid rgba(179,182,255);
  background-color: rgba(77,77,77);
  background-image: url("../images/Hit.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  padding: 40%;
  border: 1px solid rgba(179,182,255);
}

.killed{
  background-image: url("../images/Hit.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: 3px solid rgba(4,51,255);
  background-position: top;
  background-color: rgb(194, 18, 18);
  padding: 40%;
}



a:link {
  color:rgb(108, 108, 250);
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgba(226, 96, 44, 0.842);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
